rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /funnel/{docId} {
      allow read, write: if true;
    }

    match /{path=**} {
      allow read, write: if false;
    }
  }
}
